.ll{
  object-fit: contain;
  height: 50px;
}
a.navbar-brand {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Translator.css */


  
  .row1 { 
  width: calc(100% - 10px); 
  max-width: 650px; 
  } 
  
  .main-content.col {
    margin-left: 40px;
    margin-right: 25px;
    min-height: auto;
    padding: 10px;
}
  select { 
  width: calc(50% - 20px); 
  line-height: 40px; 
  font-size: 14px; 
  border: 1px solid #dadce0; 
  border-radius: 8px; 
  height: 40px; 
  padding-left: 18px; 
  position: relative; 
  color: #1a0dab; 
  cursor: pointer; 
  outline: none; 
  user-select: none; 
  } 
  
  .reversesvg { 
  width: 20px; 
  color: rgba(0, 0, 0, 0.26); 
  line-height: 40px; 
  opacity: 0.5; 
  vertical-align: middle; 
  cursor: pointer; 
  margin: 0px 10px; 
  } 
  
  option { 
  color: #202124; 
  } 
  
  .row2 { 
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  width: calc(100% - 10px); 
  max-width: 650px; 
  margin-top: 10px; 
  position: relative; 
  } 
  
  .inputText { 
  width: calc(50% - 20px); 
  position: relative; 
  } 
  
  .outputText { 
  width: calc(50% - 20px); 
  height: 169px; 
  font-family: monospace; 
  box-sizing: border-box; 
  padding: 15px; 
  font-size: 20px; 
  border-radius: 8px; 
  overflow: auto; 
  background: #edeff0; 
  text-align: left; 
  } 
  
  .row2 textarea { 
  width: 100%; 
  height: 150px; 
  resize: none; 
  box-sizing: border-box; 
  padding: 0px 35px 10px 10px; 
  margin-top: 15px; 
  border: none; 
  font-size: 20px; 
  overflow: auto; 
  color: #202124; 
  outline: none; 
  } 
  
  .removeinput { 
  cursor: pointer; 
  width: 20px; 
  position: absolute; 
  opacity: 0.5; 
  top: 5px; 
  right: 3px; 
  } 
  
  .row3 { 
  width: calc(100% - 10px); 
  max-width: 650px; 
  margin-top: 15px; 
  margin-bottom: 20px; 
  } 

  
  
  .btn { 
  width: 100%; 
  position: relative; 

  outline: none; 
  background-color: #6d9eed; 
  color: #fff; 
  border: 2px solid #6d9eed; 
  border-radius: 4px; 
  cursor: pointer; 
  font-size: 16px; 
  letter-spacing: 0.5px; 
  } 
  
  .btn i { 
  display: none; 
  } 
  
  @media screen and (max-width: 500px) { 
    a.nav-link {
      padding: 5px;
  }
  .row {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}
h2 {
  margin-top: 20px;
}
a.navbar-brand {
  margin-left: -25px;
  font-size: 15px;
}
  .row2 { 
      flex-direction: column; 
  } 
  .inputText { 
      width: 100%; 
  } 
  button{
    padding: 5px 56px;
  }
  .outputText { 
      width: 100%; 
      margin-top: 20px; 
  } 
  .left-sidebar {
    display: none;
}
.content-container {
  width: 100%  !important;  
}
.hide.col {
  display: none;
}
.\32 hd.col{
  display: none;
}
.main-content.col {
  margin-left: 0px;
  margin-right: 0px;
}
.main-content {
  margin-bottom: 0px !important;
}

h2{
  padding-bottom: 0px !important;
}
.navbar-expand .navbar-toggler {
  display: block;
}

  } 
  
  
  ::-webkit-scrollbar { 
  width: 4px; 
  } 
  ::-webkit-scrollbar-track { 
  display: none; 
  } 
  ::-webkit-scrollbar-thumb { 
  background: rgb(173, 172, 172); 
  border-radius: 4px; 
  } 
  .fas.row {
    margin-bottom: 30px;
}

@media screen and (min-width: 700px){
  select.dsh {
    display: none;
}
select.kjj {
  display: none;
}
}
@media screen and (min-width: 479px){
  
}


/* -------------- */
.volume {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  position: relative;
}

.normal-icon{
  color: #706e6e;
}

.normal-icon:hover {
  color: black; /* Replace with your desired hover color */
}
/* -------------Start Btn----------------------- */
.btn-class-name {
  --primary:7, 91, 81;
  --secondary: 0  , 70, 50;
  width: 60px;
  height: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  user-select: none;
  touch-action: manipulation;
  border-radius: 100%;
  position: relative;
  transition: .3s;
}
.delete-content {
  width: 50%;
  margin-right: auto;
  text-align: right;
  padding-right: 35px;
  color: #706e6e;
}

.delete-content:hover {
  color: black;
}
.btn-class-name .back {
  background: rgb(var(--secondary));
  border-radius: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.btn-class-name .front {
  background: linear-gradient(0deg, rgba(var(--primary), .6) 20%, rgba(var(--primary)) 50%);
  box-shadow: 0 .5em 1em -0.2em rgba(var(--secondary), .5);
  border-radius: 100%;
  position: absolute;
  border: 1px solid rgb(var(--secondary));
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: inherit;
  transform: translateY(-15%);
  transition: .15s;
  color: rgb(var(--secondary));
}

.btn-class-name:active .front {
  transform: translateY(0%);
  box-shadow: 0 0;
}
/* ----------Start Over Btn----------------- */
.btn-class-namea {

  --primary:182, 32, 0 ;
  --secondary: 110, 32, 0;
  width: 60px;
  height: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  user-select: none;
  touch-action: manipulation;
  border-radius: 100%;
  position: relative;
  transition: .3s;
}

.btn-class-namea .back {
  background: rgb(var(--secondary));
  border-radius: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.btn-class-namea .front {
  background: linear-gradient(0deg, rgba(var(--primary), .6) 20%, rgba(var(--primary)) 50%);
  box-shadow: 0 .5em 1em -0.2em rgba(var(--secondary), .5);
  border-radius: 100%;
  position: absolute;
  border: 1px solid rgb(var(--secondary));
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: inherit;
  transform: translateY(-15%);
  transition: .15s;
  color: rgb(var(--secondary));
}

.btn-class-namea:active .front {
  transform: translateY(0%);
  box-shadow: 0 0;
}


/* ------loader    --- */
.loading {
  --speed-of-animation: 0.9s;
  --gap: 6px;
  --first-color: #000000;
  --second-color: #141313;
  --third-color: #000000;
  --fourth-color: #000000;
  --fifth-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow:hidden;
  gap: 6px;
  height: 100px;
 }


 
 .loading span {
  width: 4px;
  height: 4px;
  background: var(--first-color);
  float:right;
  animation-name:wiper-swipe;
  animation-duration:3s;
  animation-timing-function:linear;
  

 }
 .loading.run span{
  animation: scale var(--speed-of-animation) ease-in-out infinite;
 }
 .loading.active span {
  height: 50px;
  animation: scale var(--speed-of-animation) ease-in-out infinite;
 }

 .loading span:nth-child(2) {
  background: var(--second-color);
  animation-delay: -0.8s;
 }
 
 .loading span:nth-child(3) {
  background: var(--third-color);
  animation-delay: -0.7s;
 }
 
 .loading span:nth-child(4) {
  background: var(--fourth-color);
  animation-delay: -0.6s;
 }
 
 .loading span:nth-child(5) {
  background: var(--fifth-color);
  animation-delay: -0.5s;
 }
 .loading span:nth-child(6) {
  background: var(--third-color);
  animation-delay: -0.4s;
 }
 
 .loading span:nth-child(7) {
  background: var(--fourth-color);
  animation-delay: -0.3s;
 }
 
 .loading span:nth-child(8) {
  background: var(--fifth-color);
  animation-delay: -0.2s;
 }
 .loading span:nth-child(9) {
  background: var(--second-color);
  animation-delay: -0.2s;
 }
 .loading span:nth-child(10) {
  background: var(--third-color);
  animation-delay: -0.1s;
 }

 .loading span:nth-child(11) {
  background: var(--second-color);
  animation-delay: -0.8s;
 }
 
 .loading span:nth-child(12) {
  background: var(--third-color);
  animation-delay: -0.7s;
 }
 
 .loading span:nth-child(13) {
  background: var(--fourth-color);
  animation-delay: -0.6s;
 }
 
 .loading span:nth-child(14) {
  background: var(--fifth-color);
  animation-delay: -0.5s;
 }
 .loading span:nth-child(15) {
  background: var(--third-color);
  animation-delay: -0.4s;
 }
 
 .loading span:nth-child(16) {
  background: var(--fourth-color);
  animation-delay: -0.3s;
 }
 
 .loading span:nth-child(17) {
  background: var(--fifth-color);
  animation-delay: -0.2s;
 }
 .loading span:nth-child(18) {
  background: var(--second-color);
  animation-delay: -0.5s;
 }
 .loading span:nth-child(19) {
  background: var(--third-color);
  animation-delay: -0.4s;
 }
 .loading span:nth-child(20) {
  background: var(--fourth-color);
  animation-delay: -0.3s;
 }
 .loading span:nth-child(21) {
  background: var(--fifth-color);
  animation-delay: -0.2s;
  
 }
 .loading span:nth-child(22) {
  background: var(--third-color);
  animation-delay: -0.1s;
 }
 @keyframes scale {
  0%, 40%, 100% {
   transform: scaleY(0.05);
  }
 
  20% {
   transform: scaleY(1);
  }
 }

 .kkkk{
  display: block;
 }

 .xcdc.row {
  margin-top: 25px;
  padding: 20px;
}
p.sadd {
  margin: 1px;
  margin-left: 20px;
}

svg.svg-inline--fa.fa-microphone {
  color: white;
}
svg.svg-inline--fa.fa-rotate-right {
  color: aliceblue;
}
svg.svg-inline--fa.fa-arrow-rotate-left.undo{
  margin-right: 10px;
}
svg.svg-inline--fa.fa-arrow-rotate-left {
  margin-right: 10px;
}