.ll{
  object-fit: contain;
  height: 50px;
}
a.navbar-brand {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Translator.css */


  
  .row1 { 
  width: calc(100% - 10px); 
  max-width: 650px; 
  } 
  
  .main-content.col {
    margin-left: 20px;
    margin-right: 25px;
    min-height: auto;
    padding: 10px;
}
  select { 
  line-height: 40px; 
  font-size: 14px; 
  border: 1px solid #dadce0; 
  border-radius: 8px; 
  height: 40px; 
  padding-left: 18px; 
  position: relative; 
  color: #1a0dab; 
  cursor: pointer; 
  outline: none; 
  user-select: none; 
  } 
  
  .reversesvg { 
  width: 20px; 
  color: rgba(0, 0, 0, 0.26); 
  line-height: 40px; 
  opacity: 0.5; 
  vertical-align: middle; 
  cursor: pointer; 
  margin: 0px 10px; 
  } 
  
  option { 
  color: #202124; 
  } 
  
  .row2 { 
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  width: calc(100% - 10px); 
  max-width: 650px; 
  margin-top: 10px; 
  position: relative; 
  } 
  
  .inputText { 
  width: calc(50% - 20px); 
  position: relative; 
  } 
  
  .outputText { 
  width: calc(50% - 20px); 
  height: 169px; 
  font-family: monospace; 
  box-sizing: border-box; 
  padding: 15px; 
  font-size: 20px; 
  border-radius: 8px; 
  overflow: auto; 
  background: #edeff0; 
  text-align: left; 
  } 
  
  .row2 textarea { 
  width: 100%; 
  height: 150px; 
  resize: none; 
  box-sizing: border-box; 
  padding: 0px 35px 10px 10px; 
  margin-top: 15px; 
  border: none; 
  font-size: 20px; 
  overflow: auto; 
  color: #202124; 
  outline: none; 
  } 
  
  .removeinput { 
  cursor: pointer; 
  width: 20px; 
  position: absolute; 
  opacity: 0.5; 
  top: 5px; 
  right: 3px; 
  } 
  
  .row3 { 
  width: calc(100% - 10px); 
  max-width: 650px; 
  margin-top: 15px; 
  margin-bottom: 20px; 
  } 

  
  
  .btn { 
  width: 100%; 
  position: relative; 

  outline: none; 
  background-color: #6d9eed; 
  color: #fff; 
  border: 2px solid #6d9eed; 
  border-radius: 4px; 
  cursor: pointer; 
  font-size: 16px; 
  letter-spacing: 0.5px; 
  } 
  
  .btn i { 
  display: none; 
  } 
  
  @media only screen and (max-width: 430px){
     .delet {
      display: none  !important;
    }
    .delete-content {
      width: 100% !important;
      display: flex;
    }
    .volume{
      margin-inline-start: auto ! important;
      padding: 5px;
      bottom: 10px;
      margin: 5px;
    }
    .ma.col {
      display: flex;
      justify-content: space-around  ;
      margin-left: -50px;
    }
    .navbar-toggler{
      display: contents !important;
    }
    select.tt {
      bottom: 12px;
      margin-left: 24px;
      margin-left: 0px;

    }
    select.kjj {
      width: auto;
      margin-right: 132px;
      bottom: 8px;
  }
  span.fsdfsdcds {
    display: flex;
    vertical-align: middle;
    margin-top: 10px;
    justify-content: center;
  }

  }


  @media screen and (max-width: 500px) { 
    a.nav-link {
      padding: 5px;
  }
  .row {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}
h2 {
  margin-top: 20px;
}
a.navbar-brand {
  margin-left: -25px;
  font-size: 15px;
}
  .row2 { 
      flex-direction: column; 
  } 
  .inputText { 
      width: 100%; 
  } 
  button{
    padding: 5px 56px;
  }
  .outputText { 
      width: 100%; 
      margin-top: 20px; 
  } 
  .left-sidebar {
    display: none;
}
.content-container {
  width: 100%  !important;  
}
.hide.col {
  display: none;
}
.\32 hd.col{
  display: none;
}
.main-content.col {
  margin-left: 0px;
  margin-right: 20px;
}
.main-content {
  margin-bottom: 0px !important;
}

h2{
  padding-bottom: 0px !important;
}
.navbar-expand .navbar-toggler {
  display: block;
}
select.tr{
  display: none;
}
.delet {
  display: none;
}
.delete-content {
  width: 100%;
}
select.tt {
  margin-left: 25px !important;
}

  } 
  
  
  ::-webkit-scrollbar { 
  width: 4px; 
  } 
  ::-webkit-scrollbar-track { 
  display: none; 
  } 
  ::-webkit-scrollbar-thumb { 
  background: rgb(173, 172, 172); 
  border-radius: 4px; 
  } 
  .fas.row {
    margin-bottom: 30px;
}

@media screen and (min-width: 700px){
  select.dsh {
    display: none;
}
select.kjj {
  display: none;
}
.delet {
  display: none;
}

}
@media screen and (min-width: 479px){
  



  .delet {
    display: none;
  }



}


/* -------------- */
.volume {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  position: relative;
}

.normal-icon{
  color: #706e6e;
}

.normal-icon:hover {
  color: black; /* Replace with your desired hover color */
}
/* -------------Start Btn----------------------- */
.btn-class-name {
  --primary:7, 91, 81;
  --secondary: 0  , 70, 50;
  width: 60px;
  height: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  user-select: none;
  touch-action: manipulation;
  border-radius: 100%;
  position: relative;
  transition: .3s;
  bottom: 15px;
  
}
.delete-content {
  width: 50%;
  margin-right: auto;
  text-align: right;
  padding-right: 35px;
  color: #706e6e;
}

.delete-content:hover {
  color: black;
}
.btn-class-name .back {
  background: rgb(var(--secondary));
  border-radius: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}



button.pl:focus {
  background: white;
}


.btn-class-name .front {
  background: linear-gradient(0deg, rgba(var(--primary), .6) 20%, rgba(var(--primary)) 50%);
  box-shadow: 0 .5em 1em -0.2em rgba(var(--secondary), .5);
  border-radius: 100%;
  position: absolute;
  border: 1px solid rgb(var(--secondary));
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: inherit;
  transform: translateY(-15%);
  transition: .15s;
  color: rgb(var(--secondary));
}

.btn-class-name:active .front {
  transform: translateY(0%);
  box-shadow: 0 0;
}

/* ------loader    --- */
.loading {
  --speed-of-animation: 0.9s;
  --gap: 6px;
  --first-color: #000000;
  --second-color: #141313;
  --third-color: #000000;
  --fourth-color: #000000;
  --fifth-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow:hidden;
  gap: 6px;
  height: 100px;
  margin-top: 100px;
 }


 
 .loading span {
  width: 4px;
  height: 4px;
  background: var(--first-color);
  float:right;
  animation-name:wiper-swipe;
  animation-duration:3s;
  animation-timing-function:linear;
  

 }
 .loading.run span{
  animation: scale var(--speed-of-animation) ease-in-out infinite;
 }
 .loading.active span {
  height: 50px;
  animation: scale var(--speed-of-animation) ease-in-out infinite;
 }

 .loading span:nth-child(2) {
  background: var(--second-color);
  animation-delay: -0.8s;
 }
 
 .loading span:nth-child(3) {
  background: var(--third-color);
  animation-delay: -0.7s;
 }
 
 .loading span:nth-child(4) {
  background: var(--fourth-color);
  animation-delay: -0.6s;
 }
 
 .loading span:nth-child(5) {
  background: var(--fifth-color);
  animation-delay: -0.5s;
 }
 .loading span:nth-child(6) {
  background: var(--third-color);
  animation-delay: -0.4s;
 }
 
 .loading span:nth-child(7) {
  background: var(--fourth-color);
  animation-delay: -0.3s;
 }
 
 .loading span:nth-child(8) {
  background: var(--fifth-color);
  animation-delay: -0.2s;
 }
 .loading span:nth-child(9) {
  background: var(--second-color);
  animation-delay: -0.2s;
 }
 .loading span:nth-child(10) {
  background: var(--third-color);
  animation-delay: -0.1s;
 }

 .loading span:nth-child(11) {
  background: var(--second-color);
  animation-delay: -0.8s;
 }
 
 .loading span:nth-child(12) {
  background: var(--third-color);
  animation-delay: -0.7s;
 }
 
 .loading span:nth-child(13) {
  background: var(--fourth-color);
  animation-delay: -0.6s;
 }
 
 .loading span:nth-child(14) {
  background: var(--fifth-color);
  animation-delay: -0.5s;
 }
 .loading span:nth-child(15) {
  background: var(--third-color);
  animation-delay: -0.4s;
 }
 
 .loading span:nth-child(16) {
  background: var(--fourth-color);
  animation-delay: -0.3s;
 }
 
 .loading span:nth-child(17) {
  background: var(--fifth-color);
  animation-delay: -0.2s;
 }
 .loading span:nth-child(18) {
  background: var(--second-color);
  animation-delay: -0.5s;
 }
 .loading span:nth-child(19) {
  background: var(--third-color);
  animation-delay: -0.4s;
 }
 .loading span:nth-child(20) {
  background: var(--fourth-color);
  animation-delay: -0.3s;
 }
 .loading span:nth-child(21) {
  background: var(--fifth-color);
  animation-delay: -0.2s;
  
 }
 .loading span:nth-child(22) {
  background: var(--third-color);
  animation-delay: -0.1s;
 }
 @keyframes scale {
  0%, 40%, 100% {
   transform: scaleY(0.05);
  }
 
  20% {
   transform: scaleY(1);
  }
 }
 .kkkk {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
 .xcdc.row {
  margin-top: 25px;
  padding: 20px;
}
p.sadd {
  margin: 1px;
  margin-left: 20px;
}

svg.svg-inline--fa.fa-microphone {
  color: white;
}
svg.svg-inline--fa.fa-rotate-right {
  color: rgb(0, 0, 0);
}
svg.svg-inline--fa.fa-arrow-rotate-left.undo{
  margin-right: 10px;
}
svg.svg-inline--fa.fa-arrow-rotate-left {
  margin-right: 10px;
}
.dssa.row {
  margin: 20px;
}

.volume {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: rgb(205, 191, 247);
  overflow: hidden;
  position: relative;
  margin-inline-start: 440px;
}
.volume-icon {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
  overflow: hidden;
  position: relative;
}
.volume-input {
  position: absolute;
  inset: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 999;
}
.volume-icon:before {
  content: "";
  display: flex;
  width: 0px;
  height: 0px;
  border-radius: 100%;
  transition: all 0.2s ease;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(32, 33, 36);
}
.volume-input:checked + .volume-icon:before {
  width: calc(100% + 4px);
  height: calc(100% + 4px);
}
.volume-svg {
  z-index: 2;
  color: rgb(32, 33, 36);
  height: 30px;
  width: 30px;
}

.volume-input:checked + .volume-icon svg {
  color: rgb(255, 255, 255);
}
select.tr {
  margin-inline-end: 325px;
  bottom: 15px;
}
button:focus {
  background: rgb(255 255 255);
}

.cn.col {
  box-shadow: 0 2px 10px 0px rgb(109 117 141 / 20);
  border-radius: 11px;
  margin-inline-start: 50px;
  height: 439px;
}

.to.col {
  box-shadow: 0 2px 10px 0px rgb(109 117 141 / 20);
  border-radius: 12px;
  margin-inline-start: 34px;
  margin-inline-end: 20px;
  height: 332px;
}
.col.\36 {
  height: 356px;
  box-shadow: 0 12px 48px 0px rgb(109 117 141 / 20%);
  border: 0.5px solid rgb(231 233 245);
  border-radius: 16px;
  margin-inline-end: 20px;
  font-size:large !important;
  
}
.last.col {
  margin-top: 20px;
  display: flex;
}
button.pl {
  color: black;
  background: none;
}
button.pl:hover{
  background-color: #fff;
}
button.ad {
  background: none;
  color: black;
  margin-right: -54px;
}
button.ad:hover{
  background-color: #fff;
}
.ma.col {
  display: flex;
  justify-content: space-around;
}
.delet {
  width: 50%;
  margin-right: auto;
  text-align: right;
  padding-right: 35px;
  color: #706e6e;
  display: flex;
  justify-content: end;
}
select.tt {
  margin-left: -40px;
  bottom: 12px;
}
span.ddsfs {
  margin-right: -50px;
}