input[type="text"] {
    width: 40%;
   
    height: 120px;
    margin: 30px;
}
.vo.row {
    margin: 20px;
    padding-bottom: 20px;
}
label.kkk {
    display: flex;
    margin-left: 80px;
}
input[type="text"] {
    border: solid;
}
.editable-div {
    JUSTIFY-CONTENT: flex-start;
    TEXT-ALIGN: -webkit-auto;
    BORDER: solid 1px;
    WIDTH: 50%;
    box-shadow: 0 12px 48px 0px rgb(109 117 141 / 20%);
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    PADDING: 10PX;
}
label.hghj {
    margin: 20px;
    font-size: x-large;
}